.how-it-works-container {
    padding: 14px 8% 14px 5%; 
    margin-top: 50px;
    text-align: center;
  }
  
  .how-it-works-image {
    width: 50%;
    height: auto;
    margin-top: 32px;
    object-fit: contain;
  }

  @media (max-width: 600px) {
    .how-it-works-container {
        padding: 14px 8% 14px 5%; 
        margin-top: 100px;
        text-align: center;
      }
  }